<div class="login-page">
    <div class="content">
        <form class="login-form" [formGroup]="form">
            <div class="loading-shade" *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-toolbar fxLayout="row" fxLayout.lt-md="column">
                <span fxFlex></span>
                <img class="logo" src="../../../assets/images/logo.png">
                <b>{{title}}</b>
                <span fxFlex></span>
            </mat-toolbar>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <input matInput autofocus formControlName="email" maxlength="200" autocomplete="off">
                        <mat-error
                            *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
                            Please enter a valid email address.
                        </mat-error>
                        <mat-error *ngIf="form.controls.email.invalid">
                            {{getEmailErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" *ngIf="pwd">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label style="color: red;">New password</mat-label>
                        <input matInput placeholder="New Password" [(ngModel)]="pwd"
                            [ngModelOptions]="{standalone: true}" [disabled]="true"
                            style="color: #000000; cursor: text;">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" class="pb20 pbm20">
                <div fxFlex="100">
                    <button class="w-full m-b-8" mat-raised-button color="primary"
                        [disabled]="form.invalid || form.disabled" (click)="onResetPassword()">
                        Generate password
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" class="mr10 pbm20">
                    <a class="w-full" mat-raised-button color="primary" routerLink="/auth/sign-in">
                        Sign In
                    </a>
                </div>
                <div fxFlex="50">
                    <a class="w-full" mat-raised-button color="primary" routerLink="/auth/sign-up">
                        Create new account
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>